.product-root{
    display: flex;
    flex-direction:row;
}
.product-details{
    display: flex;
    flex-direction:column;
    margin-left: 20px;
    margin-bottom: 20px;
}
.product-content{
    flex: '1 0 auto';
}
.product-cover{
    width: 200px;
    height: 200px;
}
.product-control{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
}
.product-icon{
    height: 40px !important;
    width: 40px !important;
    color: brown;
}
.product-button-remove{
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
}