
.card{
    position: relative;
    /* height: 450px; */
}
.card-media{
    height: 230px;
}

.card-item{
    opacity: 1 !important;
    margin-bottom: 0;
}

.card-item__price{
    color: black; 
    margin-top: 10px;
}

.card-item__amount{ 
    color: crimson; 
    margin-top: 15px;
}
.card-add-item{
    position: absolute !important;
    top: 50%;
    left: 77%; 
}

