
.navbar{
    flex-grow: 1;
}

.home-title{
    flex-grow: 0.8 !important;
}
.home-title--color{
    color: darkturquoise;
}

.header-item-shopping-icon{
    color: aliceblue !important;
    margin-right: 20px !important;
    vertical-align: middle;
}

.header-item-home {
    margin-right: 30px !important;
    margin-left: 20px;
    
}

.header-item-amount-product{    
     border: 2px solid black;
}
