.cart-page-root{
    padding-bottom: 50px !important;
}
.cart-page-pay-end{
    margin-top: 20px;
    width: 70%;
    margin-left: 13%;
}

.cart-page-button-remove{
    margin-left: 13% !important;
    margin-top: 10px !important;
}